<%- include('../../shared/includes/head', {pageTitle: 'Success!'})  %>

<link rel="stylesheet" href="/styles/orders.css">
</head>

<body>
	<%- include('../../shared/includes/header')  %>

	<main>
		<h1>주문에 실패하였습니다.</h1>
		<p>다시 주문하시려면 아래의 버튼을 눌러주세요!</p>
		<a href="/cart" class="btn">Go To Cart</a>
	</main>

<%- include('../../shared/includes/footer')  %>

