<%- include('../../shared/includes/head', {pageTitle: 'Success!'})  %>

<link rel="stylesheet" href="/styles/orders.css">
</head>

<body>
	<%- include('../../shared/includes/header')  %>

	<main>
		<h1>성공적으로 주문이 완료되었습니다.</h1>
		<p>주문 내역을 보시려면 아래의 버튼을 클릭해주세요!</p>
		<a href="/orders" class="btn">Go To Orders</a>
	</main>

<%- include('../../shared/includes/footer')  %>

