body {
	background-color: rgb(87, 85, 85);
	font-family: "Open Sans", "sans-serif";
	margin: 0;
}

#main-header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(62, 61, 61);
	height: 5rem;
	align-items: center;
	padding: 0 5%;
}


#page-logo {
	text-decoration: none;
	font-size: 2.25rem;
	color: rgb(218, 157, 78);
	font-weight: 800;
}

#main-header nav a {
	font-size: 1.25rem;
	text-decoration: none;
	color: rgb(234, 193, 139);
}

#main-header nav a:hover {
	color: rgb(238, 213, 181);
}

.menu-btn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 3rem;
	height: 3rem;
	display: none;
}

.menu-btn span {
	width: 100%;
	height: 3px;
	background-color: white;
}

#side-drawer {
	width: 100%;
	height: 100%;
	background-color: rgb(65, 62, 62);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

#side-drawer:target {
	display: block;
}

#side-drawer ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 4rem 1rem;
}

#side-drawer li {
	margin: 1rem 0;
}

#side-drawer a {
	text-decoration: none;
	font-size: 2rem;
	color: rgb(254, 190, 112);
}

#side-drawer header {
	display: flex;
	justify-content: flex-end;
	height: 5rem;
	align-items: center;
	padding: 0 5%;
}

/* main part */
main h1 {
	text-align: center;
	color: rgb(231, 155, 57);
	font-size: 3rem;
}

#latest-products {
	width: 70%;
	margin: 3rem auto;
}

#main-header ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

#main-header li {
	margin: 0 1rem;
}

#menus {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	padding: 0;
	margin: 0;
	justify-items: center;
}

#menus li {
	background-color: rgb(227, 210, 210);
	border-radius: 8px;
	width: 70%;
	overflow: hidden;
}


#menus img {
	height: 18.75rem;
	width: 100%;
	object-fit: cover;
}

.food-item-content {
	padding: 1rem;
    text-align: center;
}

.food-item-content h2 {
	margin-top: 0;
}

.add-btn {
	text-decoration: none;
	background-color: rgb(236, 174, 97);
	color: white;
	border-radius: 4px;
	padding: 0.5rem 1.25rem;
}

.add-btn:hover {
	background-color: rgb(239, 166, 78);
}

@media(max-width:48rem) {
	#menus {
		grid-template-columns: 1fr;
	}

	main h1 {
		font-size: 1.5rem;
		margin: 2rem 0 0 0;
	}

	#page-logo {
		font-size: 1.5rem;
	}

	#main-header nav {
		display: none;
	}

	#latest-products {
		width: 80%;
	}

	#menus li {
		width: 100%;
	}

	#menus img {
		height: 15rem;
	}

	.menu-btn {
		display: flex;
	}

	.food-item {
		margin-bottom: 2rem;
	}
}