<%- include('includes/head.ejs', {title: 'MyBlog'})  %>
</head>
<body>
	<%- include('includes/header.ejs') %>
	<main>
		<h1>Welcome to MyBlog!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nihil reprehenderit fugiat beatae, nisi, dolor ducimus, officiis aut doloribus corporis saepe sed doloremque architecto ipsam sunt ut facilis? Provident, excepturi.</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, asperiores fuga? Excepturi repudiandae nesciunt distinctio dolor ullam iure sequi odit cum! Neque atque non voluptate architecto, numquam magnam culpa similique!</p>
	</main>
</body>
</html>