<%- include('../../shared/includes/head', {pageTitle: 'Signup'})  %>

<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">

<script src="/scripts/check-email.js" defer></script>
</head>

<body>
	<%- include('../../shared/includes/header')  %>

	<main>
		<h1>Create New Account</h1>
		<form action="/signup" method="POST">
			<input type="hidden" name="_csrf" value="<%= locals.csrfToken  %>">
			<p>
				<label for="email">E-Mail</label>
				<input type="email" id="email" name="email" required>
				<!-- 이메일 중복확인 with Ajax -->
				<button type="button" id="check-email">Check Email</button>
			</p>
			<p>
				<label for="confirm-email">Confirm Email</label>
				<input type="email" id="confirm-email" name="confirm-email" required>
			</p>
			<p>
				<label for="pwd">Password</label>
				<input type="password" id="pwd" name="password" minlength="7" required>
			</p>
			<p>
				<label for="confirm-pwd">Confirm Password</label>
				<input type="password" id="confirm-pwd" name="confirm-password" minlength="7" required>
			</p>
			<hr>
			<p>
				<label for="fullname">Full Name</label>
				<input type="text" id="fullname" name="fullname" required>
			</p>
			<p>
				<!-- 우편번호 검색 API 추가 필요. -->
				<label for="postal-code">Postal Code</label>
				<input 
					type="text"
					id="postal-code"
					name="postalCode"
					minlength="5"
					maxlength="5"
					required>
			</p>
			<p>
				<!-- 주소 검색 API 추가 필요 -->
				<label for="addr">Address</label>
				<input type="text" id="addr" name="address" required>
			</p>
			<p>
				<label for="addr-detail">Address Detail</label>
				<input type="text" id="addr-detail" name="addressDetail" required>
			</p>
			<button class="btn" type="submit">Create Accout</button>
			<p id="switch-form"><a href="/login">You have already an account?</a></p>
		</form>
	</main>

<%- include('../../shared/includes/footer')  %>