<header>
	<div>
		<a href="/">GuanJo</a>
	</div>
	<nav>
		<ul>
			<% if(!locals.isAuthenticated) { %>
				<li><a href="/">All products</a></li>
			<% } %>

			<% if(!locals.isAuthenticated) { %>
				<li><a href="/signup">Sign up</a></li>
			<% } %>

			<% if(!locals.isAuthenticated) { %>
				<li><a href="/login">Login</a></li>
			<% } %>

			<% if(locals.isAuthenticated) { %>
				<li>
					<form action="/logout" method="POST">
						<input type="hidden" name="_csrf" value="<%= locals.csrfToken  %>">
						<button>Logout</button>
					</form>
				</li>
			<% } %>

			<% if(locals.isAuthenticated) { %>
				<li>Welcome <%= locals.name %>!</li>
			<% } %>

		</ul>
	</nav>
</header>