<%- include('../../shared/includes/head', {pageTitle: 'All products'})  %>

<script src="/scripts/product-management" defer></script>
</head>

<body>
	<%- include('../../shared/includes/header')  %>

	<main>
		<h1>All products</h1>
		<p>Feel free to look around!</p>
		<p>... list of products</p>

	</main>

<%- include('../../shared/includes/footer')  %>