#image::file-selector-button {
	border: none;
	background-color: var(--color-primary-300);
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	font: inherit;
	cursor: pointer;
	color: var(--color-gray-400);
}