form hr {
	border-color: rgba(255, 255, 255, 0.5);
	margin: var(--space-4);
}

form span {
	display: block;
	margin-top: var(--space-2);
}

form p {
	margin: var(--space-8) 0;
}

label{
	color: var(--color-gray-300);
	display: block;
	margin-bottom: var(--space-2);
}

input,
textarea {
	font: inherit;
	padding: var(--space-2);
	border-radius: var(--border-radius-small);
	border: none;
	width: 90%;
	outline: none;
}

input:focus,
textarea:focus {
	background-color: #dbeeff;
	border: 2px solid rgba(77, 77, 77, 0.2);
}