body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
  }
  
  h1 {
	text-align: center;
	color: blue;
  }
  
  p {
	text-align: center;
  }
  
  button {
	background-color: #ccc;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 20px;
  }
  
  button:hover {
	background-color: #ddd;
  }
  