<%- include('includes/head', {pageTitle: 'Not Authenticated!'})  %>

</head>

<body>
	<%- include('includes/header')  %>

	<main>
		<h1>Not Authenticated!</h1>
		<p>You are not authenticated!</p>
		<p><a href="/" class="btn">Back to Home</a></p>

	</main>

<%- include('includes/footer')  %>